/* GENERAL */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


/* layout */
.container.small{
    max-width: 1000px;
}

/* utilities */
.position-relative{
    position: relative;
}

.center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.only-desktop{
    display: none;
}


.type{
    text-align: center;
    color: white;
}
.type h3{
    font-weight: 400;
    margin: 10px 0;
}

.type p{
    font-size: 16px;
    margin: 8px 0;
}

.type a{
    text-transform: none;
    color: white;

}

/* TYPOGRAPHY */
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
    line-height: 40px;
}

h3{
    font-size: 20px;
}

h1,
h2,
h3,
h4{
    font-weight: 600;

}



/*************************** header ******************************/
/* nav */
header{
    line-height: 50px;
    text-align: center;
}
 header nav img{
     vertical-align: middle;
 }

.menu,
.languages{
    display: none;
}

.hamburger{
    position: absolute;
    top: 0;
    right: 0;
}
/***************************** main ********************************/
/* jumbotron */
.jumbotron{
    height:450px;
    background-image: url('../img/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.jumbotron .center{
    width: 100%;
    padding: 0 10px;
}

.jumbotron p{
    margin: 20px 0;
}

.jumbotron img{
    height: 30px;
}

/* rent */
.rent .box{
    background: #fafafa;
    margin: 30px 0;
    text-align: center;
    padding: 30px;
}

.rent .type{
    color: black;
}
.rent a{
    color: #0472ca;
}

.rent img{
    height: 400px;
    margin-top: 20px;
}


/* segway man */
.segway-man{
    background-image: url('../img/helbiz-banner.jpg');
    background-size: cover;
    background-position: left center;
    height: 450px;
    margin-bottom: 300px;
}

.segway-man .left-side,
.segway-man .right-side{
    margin-top: 500px;
    padding: 0 15px;
}

.segway-man .left-side{
    text-align: right;
}

.segway-man .left-side h2{
    line-height: 35px;
}

.segway-man .left-side .text{
    display: inline-block;
    text-align: left;
}

.segway-man .right-side h4{
    margin-top: 20px;
}

/* segway */
.segway{
    height: 400px;
    background-image: url('../img/scooter-bg.jpg');
    background-size: cover;
    margin-bottom: 50px;
}

.opacity{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}

.segway .left-side{
    height: 100%;

}

.segway .type{
    color: white;
    text-align: center;
}

.segway .type a{
    color: white;
}

/* phone city */
.phone-city .app{
    background: #384a5b;
    background-image: url('../img/helbiz-app.png');
    background-size: auto 70%;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 30px;
}

.phone-city .type li{
    display: inline-block;
    padding: 0 5px;
}

.phone-city .app,
.phone-city .find{
    padding-top: 30px;
    margin-bottom: 25px;
}

.phone-city .app img{
    height: 250px;
    }

.phone-city .find{
    background-image: url('../img/cities.jpg');
    background-size: cover;
    height: 400px;
}

/* MEDIA QUERY */
@media screen and (min-width:460px){

    
    
}








@media screen and (min-width:992px){
    h1{
        font-size: 40px;
    }

    .only-desktop{
        display: block;
    }

    /* header */
    header nav .hamburger{
        display: none;
    }
    .menu,
    .languages{
        display: block;
    }
    
    header nav li{
        display: inline-block;
        padding: 0 10px;
    }
    
    header nav .languages li{
        padding: 0 5px;
    }

    /* jumbotron */
    .jumbotron img{
        height: 45px;
    }


    /* rent */
    .padding-lg-right{
        padding-left: 0;
        padding-right: 20px;
    }

    /* segway man */
    .segway-man{
        margin-bottom: 400px;
    }
    .phone {
        text-align: center;
    }
    
    .phone img{
        max-height: 700px;
        max-width: 100%;
        margin-top: 200px;
    }

    .segway-man .left-side,
    .segway-man .right-side{
    margin-top: 600px;
    padding: 0 0;
    }

    /* segway */
    .opacity{
        background-color: rgba(0, 0, 0, 0);
    }


    

    

}